@charset "utf-8";

// If need, change your variables before importing Bulma
// $title-color: #ff0000;
$primary: #ffdd57;
// $purple: #fce38a;
$body-background-color: AntiqueWhite;
// $footer-background-color: DimGray;

@import "~bulma/bulma.sass";

main {
  padding-bottom: 1rem;
}

.banner-uno {
  background: AntiqueWhite url("../images/banner01.jpg") no-repeat;
}

.banner-due {
  background: AntiqueWhite url("../images/banner02.jpg") no-repeat;
}

.banner-tre {
  background: AntiqueWhite url("../images/banner03.jpg") no-repeat;
}

.banner-qua {
  background: AntiqueWhite url("../images/banner04.jpg") no-repeat;
}

.banner-cin {
  background: AntiqueWhite url("../images/banner05.jpg") no-repeat;
}

.banner-sei {
  background: AntiqueWhite url("../images/banner06.jpg") no-repeat;
}

.banner-set {
  background: AntiqueWhite url("../images/banner07.jpg") no-repeat;
}

.banner-ott {
  background: AntiqueWhite url("../images/banner08.jpg") no-repeat;
}

.banner-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 890px;
  overflow: auto;
}

.all-base {
  align-content: flex-end;
}

nav-opaco {
  opacity: 0.5;
}

a.navbar-item {
  padding: 8px 8px;
}

a.navbar-item:hover {
  background-color: #ffd503;
}

main {
  width: 900px;
  margin: auto;
}

.opaco {
  opacity: 0.7;
}

.margin-small {
  margin-bottom: 5px;
}
